html
	head
		+h.headers
		title Theme Info
		style(type="text/css")
			body{
				font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
				max-width:680px;
				margin:0 auto;
				color: #666;
				padding-top: 130px;
				line-height: 2.1;
				-webkit-font-smoothing: antialiased;
			}
			a{
				color: #4178ff
			}
			a:hover{
				color: indianred;
			}
	body
		p
			a(href='https://github.com/iissnan/hexo-theme-next', target='_blank') NexT
			span 是一个非常精巧的模板设计，作者为
			a(href="https://github.com/iissnan", target="_blank") iissnan
			span , 基于 MIT 开源协议.
		p
			span 后来由
			a(href='https://www.sunnyyoung.net/', target="_blank") Sunnyyoung
			span 移植到
			a(href='https://github.com/Sunnyyoung/Farbox-NexT', target="_blank") FarBoxNexT
			span 中。
		p
			span 我们在重新将其整理到 Bitcron 中的时候，大抵理解了 Sunnyyoung 提到的
			a(href="https://blog.sunnyyoung.net/a-hexo-theme-next-for-farbox/", target="_blank") “痛苦”的经历
			span 。
		p
			span 感谢互联网，感谢所有人。 :)
		p
			span The theme is running on platform
			a(href="https://www.bitcron.com") Bitcron
			span .
			span You can get the source code by clone it.